/* Toolbar */
.dm-toolbar {
    height: 36px;
    background: #333 url(../media/images/csse_bg.png);
    -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
}
.dm-logo, .dm-title, .dm-actions {
    height: 36px;
}
.dm-toolbar .dm-title {
    display: inline-block;
    margin-left: 15px;
}
.dm-toolbar .dm-title h4 {
    color: #d3d3d3;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
}
.dm-toolbar .dm-logo {
    display: inline-block;
    width: 48px;
    border-right: 1px solid #282828;
    -webkit-box-shadow:  1px 0px 0px 0px #393939;
    box-shadow:  1px 0px 0px 0px #393939;
}
.dm-toolbar .dm-logo .icon-basket {
    color: #666666;
    font-size: 21px;
    padding-left: 13px;
}
.dm-actions {
    margin-right: 20px;
}
.dm-actions .close {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #8f8f8f;
    display: block;
    height: 20px;
    width: 20px;
    position: relative;
    margin-top: 2px;
}
.dm-actions .close .icon-cancel {
    position: absolute;
    font-size: 14px;
    top: 4px;
    left: 4px;
}
/* Translate box */
.cm-translate, .cm-translate p {
    background: #ecffc2 !important;
    color: #000000 !important;
}
#translate_link {
    position: absolute;
    z-index: 890;
    cursor: pointer;
}
#trans_val {
    width: auto;
}
/* /Translate box */

.customization-mode, .translate-mode {
    position: absolute;
    z-index: 899;
    background: #00bdf4 url(../media/images/icons/icon_move.gif) no-repeat 6px 4px;
    border: 2px solid #000000;
    top: 15px;
    left: 425px;
}
.customization-mode {
    background-color: #ae1400
}
.customization-mode h1, .translate-mode h1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 35px;
}
.customization-mode h1, .translate-mode h1, .customization-mode a, .translate-mode a, .customization-mode h1 font, .translate-mode h1 font, .customization-mode a font, .translate-mode a font {
    color: #ffffff !important;
    background-color: transparent !important;
}
.customization-mode h1 font, .translate-mode h1 font {
    font: bold 200% Arial, Helvetica, sans-serif;
}
.customization-mode a font, .translate-mode a font {
    text-decoration: underline;
}
.customization-mode a font:hover, .translate-mode a font:hover {
    text-decoration: none;
}
.icons {
    float: left;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
}

#template_list_menu {
    position: absolute;
    margin-left: -2px;
    background: white;
    display: none;
    z-index: 890;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    border-top-left-radius: 0px;
}

.template-name {
    display: none;
}

#template_over{
    display: none;
}

.cm-template-over {
    position: absolute;
    display: none;
    z-index: 880;
    background-color: #c0ff00;
}
.cm-template-box {
    display: inline;
    margin: 0;
    padding: 0;
}
.cm-template-icon {
    position: absolute;
    z-index: 890;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #3e3e3e;
    height: 13px;
    padding: 2px 3px;
    width: 13px;
    color: white;
    font-size: 14px;
}
#template_list {
    margin: 10px 4px;
}
#template_list li, #template_list_menu li {
    cursor: pointer;
}
#template_list_menu li {
    color: #0088cc;
    padding: 5px 8px;
}
#template_list li {
    padding-left: 10px;
}
#template_list li.first {
    background-image: none;
    padding-left: 7px;
}
#template_list_menu li:hover {
    background: #f3f3f3;
    color: #303030;
}
#template_text {
    padding: 0;
    border: 0;
}
.max-height {
    height: 100%;
}
.cm-cur-template {
    color: #ff0000;
    cursor: default !important;
    text-decoration: none !important;
}
.editor-table {
    border-collapse: collapse;
}
.editor-table td {
    background-color: #f0f0f0;
    border: 1px solid #888888;
}
.templates-tree {
    width: 250px;
    height: 355px;
    padding: 22px 8px 4px 4px;
}
.templates-tree h4 {
    font: bold 100% Arial, Helvetica, sans-serif;
    padding: 3px 0 3px 3px;
    margin-top: -22px;
}
.templates-tree div {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.edit-link, .edit-link:link, .edit-link:visited, .edit-link:hover, .edit-link:active {
    border: 1px solid #dfdfc9;
    border-right-color: #686868;
    border-bottom-color: #686868;
    padding: 1px 14px 1px 13px;
    background-color: #ffffff;
}
.edit-link font {
    font: normal 92% Arial;
    text-transform: lowercase;
    color: #b20101 !important;
    text-decoration: underline;
    background-color: #ffffff !important;
}
.edit-link font:hover {
    text-decoration: none;
}
.customization-mode p.right, .translate-mode p.right {
    margin: 0;
}
.customization-mode .cm-popup-content-footer, .translate-mode .cm-popup-content-footer {
    padding-bottom: 4px;
}
#template_text {
    height: 376px !important;
    width: 617px !important;
}
.ace_editor p, .ace_editor div, .ace_editor span, .ace_editor i { font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace !important;}